*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 1440px;
}
.hero-section{
    background-image: url('../Assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

/* Navbar section */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 151px;
    margin: auto;
}
.logo{
    font-size: 34px;
    font-weight: bold;
    color: #0057ff;
}
.btn-1{
    color: white;
    background-color: #0057ff;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
/* Banner section */
.banner{
    width: 905;
    height: 105;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.banner h1{
    font-size: 45px;
    margin-bottom: 20px;
}
/* Action section */
.action-section {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  gap: 40px;
  background-color: #f8f8f8;
  flex-wrap: wrap;
}

/* Left side */
.left-side {
  max-width: 500px;
}

.title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #222;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}
.preview-btn {
  padding: 10px 20px;
  background-color: #0057ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.preview-btn:hover {
  background-color: #003bb3;
}

/* Right side */
.right-side img {
  width: 400px;
  border-radius: 24px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}